.DS_Store
node_modules
_node_笔记
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# movive
惊奇队长.BD.720p.中英双字幕的副本 2.mkv*
惊奇队长.mkv*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
