<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>找回密码</title>
</head>

<body>

  <h1>找回密码页面</h1>


  <div class="sureUser">
    <input type="" class="user">
    <input type="text" class=""> <span class="tip"> </span>
    <button class="btn">下一步</button>
  </div>

  <div class="resetPwd">
    <input type="" class="user">
    <input type="text" class=""> <span class="tip"> </span>
    <button class="btn">下一步</button>
  </div>





  <script src="public/js/myAjax.js"></script>
  <script>



  </script>


</body>

</html>