<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  店铺名称：<input type="text" class="name"> <br>
  id: <input type="text" class="idCard"> <br>
  一级：<select name="" id="" class="first">
    <option value="武侠">武侠</option>
  </select> <br>

  二级：<select name="" id="" class="two">
    <option value="天龙八部">天龙八部</option>
    <option value="笑傲江湖">笑傲江湖</option>
    <option value="梁羽生">梁羽生</option>
  </select><br>

  <button id="btn">提交按钮</button>

  <script src="/public/js/myAjax.js"></script>

  <script>



    const name = document.querySelector('.name')
    const idCard = document.querySelector('.idCard')
    const first = document.querySelector('.first')
    const two = document.querySelector('.two')
    const idReg = /^\d+(\x|\d)$/


    ajax.get({
      url: '/levelOne',
    }).then(resFilst => {
      first.innerHTML = resFilst.list.map(item => {
        return `<option value="${item}">${item}</option>`
      }).join('')

      first.onchange = function () {
        let val = this.value
        ajax.get({
          url: '/levelTwo',
          data: {
            levelName: val
          }
        }).then(resTwo => {
          two.innerHTML = resTwo.data[0].list.map(item => {
            return `<option value="${item}">${item}</option>`
          }).join('')
        })
      }

    })


    btn.onclick = function () {
      // 身份证号码正则验证， 其他数据非空验证
      if (idReg.test(idCard.value.trim()) && name.value && first.value && two.value) {
        let option = {
          id: idCard.value.trim(),
          name: name.value.trim(),
          levelOne: first.value.trim(),
          levelTwo: two.value.trim()
        }
        ajax.post({
          url: '/creatStore',
          data: option
        }).then(resPost => {
          console.log(resPost, 'respost')
          if (resPost.code === 0) {
            alert('数据存储成功')
          }
        })
      } else {
        alert('请输入内容')
      }
    }





  </script>
</body>

</html>