<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>views----app</h1>
 
  <%=msg%>

  <div class="box" style="border:1px solid red;">
      <% data.forEach(item => { %> 
        <h1 class="btn"><%= item%></h1>
      <%}) %>
  </div>


  <script>

    const btns = document.querySelectorAll('.btn')

    btns.forEach(item => {
      item.onclick = function() {
        console.log(this)
      }
    })
     
  
  
  </script>


</body>
</html>