
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar {
  height: 50.5px;
  color: #fff;
  background: #e54847;
  border-bottom: 1px solid #e54847;
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.navbar:not(.icbcback) h1.nav-header {
  margin-right: 0!important;
}
h1.nav-header {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  margin: 0 52.5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.topbar {
  border-bottom: 1px solid #e6e6e6;
  height: 44px;
}

.topbar-bg {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 44px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.city-entry {
  padding-left: 15px;
  font-size: 15px;
  color: #666;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.switch-hot {
  display: -webkit-box;
  display: flex;
  height: 44px;
  line-height: 44px;
  position: relative;
}
.city-entry .city-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
  max-width: 19.2vw;
}
.city-entry-arrow {
  margin-right: 5px;
  width: 0;
  height: 0;
  border: 4px solid #b0b0b0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  display: inline-block;
  margin-left: 4px;
  margin-top: 5px;
}

.switch-hot .hot-item.active {
  color: #ef4238;
}

.switch-hot .hot-item {
  font-size: 15px;
  color: #666;
  width: 80px;
  width: 21.33333vw;
  text-align: center;
  margin: 0 12px;
  font-weight: 700;
}

.switch-hot .hot-item {
  font-size: 15px;
  color: #666;
  width: 80px;
  width: 21.33333vw;
  text-align: center;
  margin: 0 12px;
  font-weight: 700;
}

.search-icon {
  width: 20px;
  height: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR…DIR5EkpV/4P2xdh9gngffs0f17kTmQy02+mZB9/+VmMvAXE7/38O8tTYkAAAAASUVORK5CYII=) 10px no-repeat;
  background-size: 20px;
  padding: 10px 15px 10px 10px;
}

.page.singleton .page-wrap, .page.singleton-notab .page-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}


.tab-content .list-wrap .item {
  padding-left: 15px;
  background-color: #fff;
}

.tab-content .list-wrap .item .main-block {
  position: relative;
  width: 100%;
}


.tab-content .list-wrap .item .avatar {
  width: 64px;
  height: 90px;
  position: relative;
  margin-top: 12px;
  float: left;

}


.tab-content .list-wrap .item .content-wrapper {
  padding: 12px 14px 12px 0;
  margin-left: 74px;
  height: 90px;
  max-height: 90px;
  position: relative;
}


.mb-outline-b {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFW…I/PoL90/MAAAAZSURBVHjaYvr//z8DCLM8evToPwMQAAQYAGuLCaa37ZaAAAAAAElFTkSuQmCC) 0 bottom repeat-x;
}

.tab-content .list-wrap .item .content {
  padding-right: 5px;
  margin-right: 48px;
  overflow: hidden;
}


.tab-content .list-wrap .item .movie-title {
  max-height: 24px;
  margin-bottom: 7px;
  line-height: 24px;
  overflow: hidden;
}


.tab-content .list-wrap .item .detail {
  box-sizing: border-box;
  line-height: 1;
  overflow: hidden;
}

.line-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.tab-content .list-wrap .item .detail>div+div {
  margin-top: 6px;
  line-height: 15px;
}


.tab-content .list-wrap .item .detail>div+div {
  margin-top: 6px;
  line-height: 15px;
}

.tab-content .list-wrap .item .button-block {
  font-size: 12px;
  position: absolute;
  right: 14px;
  top: 0;
  bottom: 0;
  height: 27px;
  margin: auto;
}

.default-img-bg {
  background-color: #e1e1e1;
  background-size: 100% 100%;
}
.default-img-bg img {
  width: 100%;
  height: 100%;
}

.tab-content .list-wrap .item .avatar:before {
  display: block;
  position: absolute;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-size: contain;
}